@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #fc0093;
  border-radius: 50px;
}

body {
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
}
#ALLInBODY {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 50px 0px;
  background: linear-gradient(
    45deg,
    rgba(0, 238, 255, 0.5),
    rgba(255, 0, 149, 0.651)
  );
}
